{% extends 'bases/base.html' %}
{% load static %}
{% block 'importcss' %}
    <link rel='stylesheet' href="{% static 'streaming/css/index.css' %}">
{% endblock %}  
{% block 'title' %}Home{% endblock %}

{% block 'content' %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a href="" class="text-light navbar-brand me-auto">Streaming</a>
        
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu-links">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="dropdown">
            {% if profile.profile_picture %}
                <img src="{{profile.profile_picture.url}}" id='profile_picture' onclick="show('.dropdown-menu')">
            {% else %}
                <button class="btn btn-dark dropdown-toggle" onclick="show('.dropdown-menu')"><i class="fa fa-user" aria-hidden="true"></i>
                </button>
            {% endif %}

            <ul  class="dropdown-menu mt-1" onmouseleave="hide('.dropdown-menu')">
                {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user-secret"></i> Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-power-off text-danger"></i> Log Out</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="{% url 'login' %}"><i class="fas fa-power-off text-success"></i> Log In</a></li>
                {% endif %}
            </ul>
       </div>
    </div>
</nav>

{% if messages %}
    {% for message in messages %}
       <div class='container bg-dark mt-5 alert animate__animated animate__bounceInDown'>
            <p>{{message}}</p>
            <hr>
            <a href='{% url "login" %}' class='btn btn-outline-secondary'>Log In</a>        
</div>
    {% endfor %}
{% endif%}

 


{% endblock %}

{% block 'importjs' %}
    <script src="{% static 'stream/js/index.js' %}"></script>
{% endblock %}
  