{% extends 'bases/base.html'%}
{% load static %}
{% block 'importcss' %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset.css' %}">
{% endblock %}  
{% block 'title' %}Password reset{% endblock %}

{% block 'content' %}

<div  id="main" class="container p-3 col-3 animate__animated animate__bounceInDown">
	<p class="text-center text-success">
		successfully reset password
		<br/>
		<i  class="fas fa-check-circle text-success mt-4"></i>
	</p>
	<div class="justify-content-center mt-4">
		<a href="{% url 'login'%}" class="btn btn-outline-dark btn-login">Log In</a>  
		<a href="{% url 'signup'%}" class="btn btn-outline-dark">Sign Up</a>  
	</div>
	{% for field in form %}
		{% if field.erros %}
			{{field.erros}}
		{% endif %}
	{% endfor %}
</div>

{% endblock %}