{% extends 'bases/base.html'%}
{% load static %}
{% block 'importcss' %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset.css' %}">
{% endblock %}  
{% block 'title' %}Password reset confirm{% endblock %}

{% block 'content' %}

<h2 class="text-center mt-5">Password Reset Confirm</h2>
<div id='main' class="container col-6 p-5 mt-5">
	<form method="post">
		{% csrf_token %}
	  	<input type="password" class='form-control bg-dark mt-3' placeholder="New password..." name="new_password1" autocomplete="new-password" required id="id_new_password1">
		<input type="password" class='form-control bg-dark mt-3 mb-2' placeholder="New password confirmation..." name="new_password2" autocomplete="new-password" required id="id_new_password2">
	        	
	  	{% for field in form %}
	        	{% if field.errors %}
	        		<small class='text-danger'>{{ field.errors  }}</small> 
	        	{% endif %}
		{% endfor %}
	  
	  <div class="mt-3">
	    <button type="submit" class="btn btn-outline-success">Reset Password</button>
	  </div>
	</form>
</div>


{%endblock%}