{% extends 'bases/base.html' %}
{% load static %}
{% block 'importcss' %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset.css' %}">
{% endblock %}  
{% block 'title' %}Password reset{% endblock %}

{% block 'content' %}
<h1 class='text-center mt-5'>Reset your password</h1>
<div id="main" class='container mt-5 col-5 p-3'>
	<form method="POST">
		{% csrf_token %}
	    <label>
			Enter your user account's verified email address and we will send you a
			password reset link
		</label>
		{% for field in form %}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
		<input type="email" name="email" autofocus="true" autocomplete="email" maxlength="254" 
		 required class="form-control mt-5 bg-dark" id="id_email" placeholder="Enter your email address">
		
		 <div class="justify-content-center mt-4">
			<button type="submit" class="btn btn-success">Send password reset email</button>
		</div>
		<div class="mt-3" id="redirect-buttons">
			<a href="{% url 'signup' %}" class='btn btn-outline-dark'>Sign Up</a>
		   <a href="{% url 'login' %}" class='btn btn-outline-dark'>Log In</a>
		</div>
	</form>
</div>


{% endblock %}
