{% extends 'bases/base.html' %}
{% load static %}
{% block 'importcss' %}
    <link rel="stylesheet" href="{% static 'accounts/css/change_password.css' %}">
{% endblock %}  
{% block 'title' %}Change Password{% endblock %}

{% block 'content' %}

<div class="container mt-5" >
    {% for message in messages %}
        <p class="container mt-3 text-center alert {{message.tags}} animate__animated animate__shakeX">
            {{message}}
        </p>
    {% endfor %}
    <form method="POST" action="{% url 'password_change' %}">
        {% csrf_token%}
        <input type="password" name="old_password" class="form-control" autofocus required placeholder="Old Password">
        <input type="password" name="new_password1" class="form-control mt-4" required placeholder="New Password">
        <input type="password" name="new_password2" class="form-control mt-4" required placeholder="Confirm">
        <br/>
        <button type="submit" class="btn btn-success mt-4" >Change</button>
        <a href='{% url "profile" %}' class="btn btn-outline-dark mt-4" >Return to profile</a>
    </form>
</div>


{% endblock %}
