{% extends 'bases/base.html'%}
{% load static %}
{% block 'importcss' %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset.css' %}">
{% endblock %}  
{% block 'title' %}Password reset done{% endblock %}

{% block 'content' %}

<h2 class='text-center mt-5'>Reset your password</h2>
<div id="main" class='container col-5 mt-5 p-4'>
	<p>
		Please check your inbox and follow the
		instruction to reset your password.
	</p>
	<a href="{% url 'login' %}" class="btn btn-outline-success">Return to log in</a>
</div>

{% endblock %}