body{
    background: var(--main-dark)!important;
    color: black!important;
}
*{
    font-weight: 600!important;
}
#main{
    border-radius: 4px;
    height: 100%;
    border: 1px solid #3d3d3d;
    background-color: #131920;
    margin-top: 18%;
}
#main form input{
    color: white;
}
button[type='submit']{
    width: 100%;
    
}

a.btn-login{margin-right: 2%;}

i{
    font-size: 35pt;
}